body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 20px auto;
    width: 1024px;
    box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
}
.two-columns{
    display: flex;
}
.left-column{
    width: 42%;
    border: 1px solid #000;
}
.right-column{
    width: 58%;
    border: 1px solid #000;
}
h1{
    margin-top: 10px;
    margin-bottom: 0;
}
header h2{
    margin-top: 10px;
}
.header{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.img{
    width: 50%;
}
main section{
    padding: 0 40px;
    background-color: rgba(209, 169, 11, 0.4);
    color: white;
    display: flex;
    flex-direction: column;
}
.contacts{
    justify-content: center;
}
main h3{
    background-color: black;
    padding: 10px;
    width: 156px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}
main li{
    font-size: 23px;
    margin-bottom: 10px;
}
.section-name{
    display: flex;
    justify-content: center;
}
.right-column{
    padding: 40px;
}
.about-myself h3{
    margin-bottom: 0;
}
.right-column h3{
    font-size: 23px;
}
.about-myself p{
    font-size: 20px;
    line-height: 1.5;
}
.one{
    margin-top: 10px;
}
.education p{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}
.education h3{
    margin-bottom: 10px;
}
.courses li{
    font-size: 23px;
    display: flex;
    justify-content: flex-start;
    line-height: 1.5;
}
.courses h3{
    margin-bottom: 0;
}
.course{
    padding: 0;
    margin-top: 5px;
}
